.first-name, .last-name {
  margin-top: 0px;
  margin-bottom: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  width: 120px;
  border-radius: 8px;
  border-style: solid;
  border-color: rgb(175, 175, 175);
  border-width: 1px;
  font-size: 14px;
  font-family: Arial;
}

.email {
  margin-top: 0px;
  margin-bottom: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  width: 260px;
  border-radius: 8px;
  border-style: solid;
  border-color: rgb(175, 175, 175);
  border-width: 1px;
  font-size: 14px;
  font-family: Arial;
  display: block;
}

.sign-up {
  background-color: rgb(10, 102, 194);
  border: none;
  border-radius: 6px;
  color: white;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 275px;
  cursor: pointer;
}