/* styles for the header of the youtube page */
:root
{
    --heightForLeftSection: 1.5rem;
    --header-secondary-color: rgb(183, 181, 181);
}

#header
{
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-section
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#middle-section
{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    max-width: 29rem;
    margin-left: 5rem;
    margin-right: 2.2rem;
}

#right-section
{
    background-color: lightblue;
    width: 12.57em;
}

/* styles for the left side */
#hamburger-menu-style
{
    height: var(--heightForLeftSection);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#yt-logo-style
{
    height: 1.25rem;
}

/* styles for the middle */
#search-bar
{
    flex: 1;
    padding-left: 0.7rem;
    height: 2.25rem;
    border-style: solid;
    border-width: 1px;
    border-color: var(--header-secondary-color);
    border-radius: 2px;
    box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.09)
}

#search-bar::placeholder /* how to target the "placeholder" for elements */
{
    font-family: 'Roboto';
    font-size: 0.9rem;
}

#search-button
{
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 4.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--header-secondary-color);
    margin-left: -1px;
}

#search-button-style /* the img */
{
    height: 1.5rem;
}

#voice-button
{
    background-color: rgb(240, 240, 240);
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 0.6rem;
    border-radius: 100%;
    border: none;
    opacity: 0.8
}

#voice-button-style
{
    height: 1.5rem;
    vertical-align: center;
    text-align: center;
}
