/* styles for the header of the youtube page */
:root
{
    --heightForLeftSection: 1.5rem;
}

#header
{
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-section
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#middle-section
{
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    max-width: 29rem;
    margin-left: 5rem;
    margin-right: 2.2rem;
}

#right-section
{
    background-color: lightblue;
    width: 12.57em;
}

/* styles for the left side */
#hamburger-menu-style
{
    height: var(--heightForLeftSection);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#yt-logo-style
{
    height: 1.25rem;
}

/* styles for the middle */
#search-bar
{
    flex: 1;
    padding-left: 0.7rem;
    height: 2rem;
}

#search-bar::placeholder /* how to target the "placeholder" for elements */
{
    font-family: 'Roboto';
    font-size: 1rem;
}

#search-button
{
    height: 2.5rem;
    width: 3.5rem;
}

#voice-button
{
    height: 2.5rem;
    width: 3rem;
}
