/* styles for the header of the youtube page */
:root
{
    --heightForLeftSection: 1.5rem;
    --header-secondary-color: rgb(183, 181, 181);
}

#header
{
    background-color: #fafafa;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(212, 211, 211);
}

#left-section
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#middle-section
{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    max-width: 29rem;
    margin-left: 5rem;
    margin-right: 2.2rem;
}

#right-section
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 11rem;
    margin-right: 1.5rem;
    flex-shrink: 0; /* prevents flexbox from shrinking */
}

/* styles for the left side */
#hamburger-menu-style
{
    height: var(--heightForLeftSection);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#yt-logo-style
{
    height: 1.25rem;
}

/* styles for the middle */
#search-bar
{
    flex: 1;
    width: 0; /* allows flexbox to shrink */
    padding-left: 0.7rem;
    height: 2.25rem;
    border-style: solid;
    border-width: 1px;
    border-color: var(--header-secondary-color);
    border-radius: 2px;
    box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.09);
}

#search-bar::placeholder /* how to target the "placeholder" for elements */
{
    font-family: 'Roboto';
    font-size: 0.9rem;
}

#search-button
{
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 4.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--header-secondary-color);
    margin-left: -1px;
}

#search-button, #voice-button
{
    position: relative;
    display: flex;
    justify-content: center;
}

#search-button .tooltip, #voice-button .tooltip
{
    position: absolute;
    background-color: rgba(138, 138, 138, 0.7);
    color: white;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 4px;
    bottom: -1.7rem;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none; /* hovers only when user hovers on button, not tool tip */
    white-space: nowrap ;
}

#search-button:hover .tooltip, #voice-button:hover .tooltip
{
    opacity: 1;
}

#search-button-style /* the img */
{
    height: 1.5rem;
}

#voice-button
{
    background-color: rgb(240, 240, 240);
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 0.6rem;
    border-radius: 100%;
    border: none;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
}

#voice-button-style
{
    height: 1.5rem;
}

#notifications-div
{
    position: relative;
}

#notifications-count
{
    position: absolute;
    background-color: #f90505;
    color: white;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.10rem;
    padding-bottom: 0.10rem;
    border-radius: 50%;
    font-family: 'Roboto', 'Arial';
    font-size: 0.5rem;
    right: 1.4rem;;
    top: -0.1rem;
}

.icons-right-side
{
    height: 1.5rem;
    margin-right: 1.5rem;
}

#headshot-pic
{
    height: 2.35rem;
    border-radius: 100%;
}