/* styles for the preview frames, video */
:root {
  --secondary-color: rgb(96, 96, 96);
}

#page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.2rem;
  row-gap: 2rem;
}

@media (max-width: 740px)
{
  #page-grid
  {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 741px) and (max-width: 945px) /* if browser window is 600px or less, use this css (responsiveness) */
{
  #page-grid
  {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 946px) and (max-width: 1250px) /* if browser window is 600px or less, use this css (responsiveness) */
{
  #page-grid
  {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1251px)
{
  #page-grid
  {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.preview {
  width: 100%;
}

.thumb-div {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}

.thumbnail {
  width: 100%;
  color:rgb(170, 170, 170);
  line-height: 30px;
}

.video-duration
{
  background-color: black;
  color: white;
  position: absolute;
  right: 0.5rem;
  bottom: 0.7rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.9;
  border-radius: 3px;
}

.video-info-div {
  width: 100%;
  display: grid;
  grid-template-columns: 35px 1fr;
  column-gap: 5px;
}

.pfpdiv {
  width: 35px;
}

.pfp {
  width: 100%;
  border-radius: 100%;
  color:rgb(170, 170, 170);
  font-size: 10px;
  font-family: Roboto, sans-serif, Arial;
}

.pfp:hover
{
  animation: spinPfp 2s;
  animation-iteration-count: infinite;
}

.verify
{
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-left: 2px;
}

.video-details-div {
  word-wrap: break-word;
}

.title, .href-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: black;
  text-decoration: none;
}

.author, .stats {
  color: var(--secondary-color);
  font-size: 13px;
  margin-bottom: 6px;
}

@keyframes spinPfp {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

